
  html,body {
    margin: 0;
    height: 100%;
  }
 
    body{
      background: linear-gradient(to bottom, black, gray);
      color: white;
      font-family: Arial;
      text-align:center;
      padding: 50px;
      margin: 0;
    }

    header{
      font-size: 40px;
      margin-bottom: 10px;
      color: rgb(217, 182, 5);
    }
    .created-by{
      font-size: 20px;
      margin-bottom: 40px;
      color: rgb(217, 182, 7);
    }
    .title{
      font-size: 30px;
      font-weight: bold;
    }

    .move-icon{
      height: 50px;
    }

    .play-again{
      display: none;
      background-color: transparent;
      border: 3px solid white;
      cursor: pointer;
      border-radius: 15px;
      color: white;
      padding: 5px;
      margin: 30px;
    }

    .play-again:hover {
      background-color: rgb(240,240,240);
      color: black;
      font-weight: bold;
    }
    
    .move-button{
      background-color: transparent;
      border: 3px solid white;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin-right: 15px;
      cursor:pointer;
      transition: .3s;

    }

    .move-button:hover {
      background-color: rgb(240,240,240);
    }

    .result{
     font-size: 20px; 
     font-weight: bold;
     margin-top: 50px;
    }

    .score{
      margin-top: 50px;
    }

    .reset-score{
      background-color: transparent;
      border: 3px solid white;
      cursor: pointer;
      border-radius: 15px;
      color: white;
      padding: 5px;
      margin: 30px;
    }

    .reset-score:hover{
      background-color: rgb(240,240,240);
      color: black;
      font-weight: bold;
    }